streamlit
groq
python-dotenv

chromadb

llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface

sentence-transformers

youtube-transcript-api

beautifulsoup4
requests

reportlab